[user]
  email = bivolaru.victor@gmail.com
  name = bivolaruvictor
[init]
  defaultBranch = main
[include]
  path = ~/.config/gitalias/gitalias.txt
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
[core]
  editor = nvim
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
  tool = nvim
[difftool "nvim"]
  cmd = nvim --diff $LOCAL $REMOTE
